body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2F3136;
}

#content{
    height: 90vh;
    position: relative;
}

#messages{
    height: 100%;
    background-color: #393c43;
    overflow-y: scroll;
}

#messages div{
    margin: 0;
    padding: 10px;
    color: white;
}

form{
    display: flex;
}

#name, #message{
    padding: 10px;
    background-color: #40444b;
    color: white;
    border: none;
}
#name{
    flex: 1;

}
#message{
    flex: 5;
}
button{
    flex: 1;
    padding: 10px;
    border: none;
    background-color: #839c49;
    color: white;
}